

body{
	background-color: rgb(211,211,211);
}

#subtitol{
	background-color: rgb(220,202,164);
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#c1{
	background-color: rgb(255,255,175);
	width:30%;
}

#2{
	background-color: rgb(196,255,255);
	width: 30%;

}

 
